/* ------------------Footer----------------- */
.footer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 40px 0;
    box-sizing: border-box;
    background-color: #153F59;

}
.footer .socialmedia {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}
.footer .socialmedia a {
    font-size: 24px;
    color: inherit;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .socialmedia a:hover {
    opacity: 20;
}

.footer ul {
margin-top: 0;
padding: 0;
list-style: none;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;

color:white;
}

.footer ul a {
color: inherit;
text-decoration: none;
opacity: 0.8;
}

.footer ul li {
display: inline-block;
padding: 0 15px;
}

.footer ul li a:hover {
opacity: 1;
color: blue;
}

.footer .copyright {
margin-top: 15px;
text-align: center;
font-size: 13px;
color: #aaa;
}

