@import "tailwindcss";
@import "tailwindcss/utilities"; 
/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Finger+Paint&family=Playwrite+IT+Moderna:wght@100..400&display=swap'); */
/* === Grundläggande inställningar === */
:root {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  --rubrik-color: #4B5563;   /* Grå (tailwind: gray-600) */
  --text-color: #6B7280; /* Ljusgrå (tailwind: gray-500) */
  --rutor-color: #fff3f3;    /* Rosa (närmast tailwind: rose-100) */
  --detalj-color: #F20C0C; /* Ljusröd (tailwind: red-400) */

  /* implentera färger i program:  text-[var(--rubrik-color)]  */

}

/* === Typsnitt === */
.tektur-unique {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100; 
}
